<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Base Directory -->
    <add key="Directory.Setup" value="C:\" />
    <!--<add key="Directory.Setup" value="C:\Users\federicof\Documents\sisfarma\config\" />-->
    <!-- Setup Files -->
    <add key="File.Local.Server" value="server_local.txt" />
    <add key="File.Local.Base" value="base_local.txt" />
    <add key="File.Local.User" value="usuario_local.txt" />
    <add key="File.Local.Pass" value="pass_local.txt" />
    <add key="File.Remote.Server" value="server_remoto.txt" />
    <add key="File.Remote.Base" value="base_remoto.txt" />
    <add key="File.Market.Code.List" value="cod_lista_tienda.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="FisiotesContext" connectionString="persistsecurityinfo=True;server=sisfarma.es;user id=fisiotes_fede;password=tGLjuIUr9A;database=fisiotes_pruebas;allowzerodatetime=True;convertzerodatetime=True;Pooling=false;Connection Lifetime=1; Max Pool Size=1" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="FisiotesContext" connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=mysqlpass;database=fisiotes_pruebas;allowzerodatetime=True;convertzerodatetime=True;Pooling=false;Connection Lifetime=1; Max Pool Size=1" providerName="MySql.Data.MySqlClient" />-->
    <add name="FarmaticContext" connectionString="data source=FEDE-PC\SQLEXPRESS;initial catalog=Farmatic;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="ConsejoContext" connectionString="data source=FEDERICO-PC\SQLEXPRESS;initial catalog=Consejo;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>